* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font: 400 12px/130% "IBM Plex Sans", sans-serif;
  color: #E25977;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}
.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-width: 340px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0 84px;
  margin: auto;
}
.main__title {
  position: relative;
  font: 500 36px/130% "Alegreya SC", sans-serif;
  color: #676C6F;
  margin: 0 0 28px;
  max-width: 280px;
}
.main__link {
  font: 500 11px/130% "IBM Plex Sans", sans-serif;
  color: #676C6F;
  text-decoration: none;
  margin-top: 14px;
}
.form {
  position: relative;
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form__label {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__label.error .form__input {
  color: #EA3232;
  border-bottom: 1px solid #EA3232;
}
.form__label .form__error-text {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
  line-height: 8px;
  color: #EA3232;
  margin: 0 auto;
  display: none;
}
.form__label.error .form__error-text {
  display: block;
}
.form__input {
  width: 100%;
  font-size: 15px;
  color: #676C6F;
  outline: none;
  border: none;
  border-bottom: 1px solid #ee104166;
  height: 22px;
}
.form__input:focus ~ .form__palceholder {
  font-size: 9px;
  transform: translateY(-18px);
}
.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover,
.form__input:-webkit-autofill:focus,
.form__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px #ffff inset !important;
  background-color: #ffff !important;
  background-clip: content-box !important;
}
.form__palceholder {
  position: absolute;
  font-size: 15px;
  color: #ee104166;
  transition: all 0.3s ease;
}
.form__button {
  width: 280px;
  font: 500 15px/19px "IBM Plex Sans", sans-serif;
  color: #fff;
  border: none;
  background-color: #8BC33B;
  border-radius: 8px;
  box-shadow: 0 4px 4px #8ecadd4d;
  padding: 9px 10px;
  margin: 54px auto 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form__button:hover,
.form__button:focus,
.form__button:active {
  color: #8BC33B;
  background-color: #a3fb2624;
}
.auth .main__title::before {
  content: '';
  display: block;
  position: absolute;
  right: -114px;
  top: -64px;
  width: 108px;
  height: 108px;
  background-image: url('/static/images/auth.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}
.reg .form::before {
  content: '';
  display: block;
  position: absolute;
  left: -138px;
  bottom: 14px;
  width: 123px;
  height: 122px;
  background-image: url('/static/images/reg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
  transform: scale(-1, 1);
}
.reg .form__button {
  margin-top: 32px;
}
.not-found,
.server-error {
  flex-direction: row;
  gap: 36px;
  padding: 28px 0 26px;
}
.not-found__container,
.server-error__container {
  text-align: center;
  margin: 0 0 168px 50px;
}
.not-found__title,
.server-error__title {
  font-size: 96px;
  line-height: 96px;
  padding-left: 30px;
  margin-bottom: 46px;
}
.not-found__text,
.server-error__text {
  max-width: 310px;
  font: 500 32px/130% "IBM Plex Sans", sans-serif;
  color: #ee104166;
  margin-bottom: 58px;
}
.not-found__link,
.server-error__link {
  font-size: 15px;
}
.not-found__image,
.server-error__image {
  max-width: 491px;
  width: 50%;
  margin-top: 23px;
}
.server-error {
  gap: 19px;
}
.server-error__image {
  max-width: 486px;
  margin: 0;
}
.server-error__container {
  margin: 102px 46px 0 0;
}
.server-error__title {
  max-width: 100%;
  padding: 0;
  margin-bottom: 44px;
}
.server-error__text {
  max-width: 470px;
  margin: 0;
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 16px 0;
  background-color: #a3fb2624;
}
.aside__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.aside__item {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0 16px;
}
.aside__item svg {
  width: 32px;
  height: 32px;
  stroke: #E25977;
}
.aside__item svg path {
  stroke: #E25977;
}
.aside__item.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #E25977;
  border-radius: 4px;
}
.profile {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 64px 1fr;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}
.profile__container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 60px 84px 30px 20px;
}
.profile__avatar {
  display: block;
  width: 130px;
  height: 130px;
  position: relative;
  outline: none;
  border: none;
  background-color: #ee104124;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}
.profile__avatar-image {
  max-width: 70px;
}
.profile__avatar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font: 500 13px/14px "IBM Plex Sans", sans-serif;
  color: #fff;
  opacity: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
}
.profile__avatar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.profile__avatar:hover::after {
  opacity: 1;
}
.profile__avatar:hover .profile__avatar-text {
  opacity: 1;
}
.profile__title {
  font-size: 26px;
  margin: 32px auto;
}
.profile__form {
  max-width: 510px;
  margin: 0 auto;
  gap: 15px;
}
.profile__form .form__label {
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ee104166;
}
.profile__form .form__input {
  max-width: 50%;
  border: none;
  text-align: end;
}
.profile__form .form__palceholder {
  position: static;
  font-weight: 500;
}
.profile__change-container {
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
  max-width: 510px;
}
.profile__change-button,
.profile__exit-button {
  display: block;
  font: 500 15px "IBM Plex Sans", sans-serif;
  border: none;
  outline: none;
  background: transparent;
  color: #8BC33B;
  text-align: start;
  margin-bottom: 21px;
  cursor: pointer;
}
.profile__exit-button {
  color: #EA3232;
}
.dialog {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 64px 310px 1fr;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}
.dialog__container {
  position: relative;
  height: 100vh;
  padding: 10px 0 0;
}
.dialog__container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 4px;
  height: 100%;
  background-color: #ffcfda;
}
.dialog__title {
  width: calc(100% - 20px);
  max-width: auto;
  font-size: 24px;
  line-height: 32px;
  margin: 0 auto 15px;
  text-align: center;
}
.dialog__search {
  position: relative;
  width: calc(100% - 20px);
  height: 32px;
  border-radius: 5px;
  background-color: #a3fb2624;
  margin: 0 auto 14px;
}
.dialog__search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font: 500 12px/12px "IBM Plex Sans", sans-serif;
  color: #676C6F;
  padding: 9px 10px 11px 32px;
}
.dialog__search-input::-webkit-search-cancel-button {
  display: none;
}
.dialog__search-activate {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 4px;
  transform: translate(-50%, -50%);
}
.dialog__search-placeholder {
  font: 500 12px/12px "IBM Plex Sans", sans-serif;
  color: #E25977;
  opacity: 1;
}
.dialog__search.active .dialog__search-input {
  opacity: 1;
}
.dialog__search.active .dialog__search-activate {
  left: 3px;
  transform: translate(0, -50%);
}
.dialog__search.active .dialog__search-placeholder {
  opacity: 0;
}
.dialog__items {
  height: calc(100% - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.dialog__items::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}
.dialog__items::-webkit-scrollbar-track {
  background: #ffcfda;
}
.dialog__items::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #E25977;
  cursor: grab;
}
.dialog__item {
  display: flex;
  position: relative;
  gap: 10px;
  height: 67px;
  align-items: flex-start;
  margin: 2px 0 5px;
  padding: 10px 55px 10px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.dialog__item:first-child {
  border-top: 1px solid #E25977;
}
.dialog__item::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E25977;
}
.dialog__item:hover {
  background-color: #ee104124;
  border-radius: 4px;
}
.dialog__item-avatar {
  display: block;
  width: 47px;
  height: 47px;
  background-color: #ee104124;
  border-radius: 50%;
  align-self: center;
}
.dialog__item-data {
  width: 100%;
}
.dialog__item-name {
  font: 700 13px/13px "IBM Plex Sans", sans-serif;
  color: #676C6F;
  margin-bottom: 4px;
}
.dialog__item-text {
  height: 30px;
  font: 400 12px/15px "IBM Plex Sans", sans-serif;
  color: #E25977;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.dialog__item-date {
  position: absolute;
  right: 10px;
  top: 12px;
  font: 400 9px/9px "IBM Plex Sans", sans-serif;
  color: #E25977;
}
.dialog__item-unread {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  min-width: 20px;
  height: 20px;
  font: 500 12px / 14px "IBM Plex Sans", sans-serif;
  border-radius: 20px;
  background-color: #E25977;
  color: #fff;
  padding: 3px 4px 4px 6px;
  max-width: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dialog__window {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 11px;
  overflow-y: auto;
}
.dialog__window-select {
  padding: 30px 0;
  margin: auto;
}
.dialog__window-image {
  max-width: 310px;
  margin-right: 56px;
}
.dialog__window-title {
  font: 500 24px/130% "Alegreya SC", sans-serif;
  color: #E25977;
  text-align: center;
}
@media screen and (max-width: 999px) {
  .not-found,
  .server-error {
    flex-direction: column-reverse;
    gap: 0;
  }
  .not-found__image,
  .server-error__image {
    max-width: 121px;
    margin: 0;
  }
  .not-found__container,
  .server-error__container {
    margin: 0;
  }
  .server-error {
    gap: 40px;
  }
}
@media screen and (max-width: 640px) {
  .auth .main__title::before,
  .reg .form::before {
    content: none;
  }
}
