<div class="aside">
    <nav class="aside__nav">
        <button class="aside__item">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="humbleicons hi-plus-circle">
                <g xmlns="http://www.w3.org/2000/svg" stroke-width="2">
                    <path stroke-linecap="round" d="M12 16V8m4 4H8" />
                    <path d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </g>
            </svg>
        </button>
        <a class="aside__item active" href="/src/pages/dialogs.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                </path>
            </svg>

        </a>
    </nav>
    <nav class="aside__nav">
        <a class="aside__item" href="/src/pages/profile.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3" />
                <circle cx="12" cy="10" r="3" />
                <circle cx="12" cy="12" r="10" />
            </svg>
        </a>
    </nav>
</div>