<div class="dialog__item">
    <img class="dialog__item-avatar" src="/static/images/person.svg" alt="Аватар."/>
    <div class="dialog__item-data">
        <h5 class="dialog__item-name">{{name}}</h5>
        <p class="dialog__item-text">{{text}}</p>
    </div>
    <span class="dialog__item-date">{{date}}</span>
    <span class="dialog__item-unread">{{unreadNumber}}</span>
</div>
